.label {
  display: inline-block;
}

.close-icon {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.dropdown {
  margin-top: 4px;
  border: solid 1px #cecece;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}

.menu {
  max-height: 400px;
  overflow-y: auto;
}

.menu-item {
  cursor: pointer;
  padding: 5px 0 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item:hover {
  background-color: #eaeaea;
}

.menu-item.active {
  background-color: #eaeaea;
}

.menu-item-label {
  padding-left: 10px;
}

.select {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  width: 300px;
  box-sizing: border-box;
}

.select * {
  box-sizing: border-box;
}

.selected-value {
  background-color: white;
  border: solid 1px #cecece;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  height: 36px;
  padding: 5px 5px 0 12px;
}

.selected-value * {
  vertical-align: top;
}

.selected-value.focus {
  border: solid 1px #2866f9;
}

.selected-value .label {
  width: 82%;
  padding-top: 3px;
}

.icon-close {
  height: 16px;
  margin-top: 4px;
}

.icon-arrow-down {
  height: 26px;
  float: right;
}

.search {
  box-sizing: border-box;
  height: 40px;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px #cecece;
}

.search * {
  box-sizing: border-box;
  vertical-align: middle;
}

.search svg {
  height: 24px;
  width: 24px;
  display: inline-block;
}

.search input {
  display: inline-block;
  height: 100%;
  margin-left: 8px;
  border: none;
  outline: none;
}

.select-focus {
  width: 0;
  height: 0;
  border: none;
}
